/* hero header styles */


/* -------------- */

header {
    grid-template-columns: [poster-start] 1fr minmax(300px, 900px) 1fr [poster-end];
    grid-template-rows: auto auto auto auto [poster-start] auto [poster-end];
    grid-template-areas: 'hero-label . .' 'hero-heading hero-heading hero-heading' 'hero-intro hero-intro hero-intro' 'hero-credits hero-credits hero-credits' '. . hero-source';
    display: grid;
}

img.poster {
    object-fit: cover;
    z-index: -1;
    grid-area: poster;
    min-height: 640px;
    width: 100%;
}

heading {
    grid-area: hero-heading;
    padding: 80px 40px 10px 40px;
}

heading h1 {
    color: #000000;
    font-size: 3em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-align: left;
}

heading h1 span {
    display: inline;
}

intro {
    grid-area: hero-intro;
    padding: 0 40px;
}

intro p {
    font-size: 1.2em;
    text-align: left;
    margin-top: 5px;
}

credits {
    grid-area: hero-credits;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 40px;
}

credits p {
    font-weight: bold;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

credits p span.text {
    text-decoration: none;
    position: relative;
}

credits p span.text::before {
    content: "Tekst ";
    font-weight: normal;
}

credits p span.text::after {
    content: '';
    position: absolute;
    top: -12px;
    left: 0;
    height: 5px;
    background: black;
    width: 100%;
}

credits p span.illustrations::before {
    content: "Illustraties ";
    font-weight: normal;
}

.article-type {
    grid-area: hero-label;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 50px;
    margin-left: 50px;
    margin-top: 0px;
    text-align: center;
    background: var(--main-support-color);
    height: 30px;
    width: 150px;
    position: relative;
}

.article-type::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0px;
    background: var(--main-support-color);
    width: 150px;
    height: 40px;
    /* The points are: (left top: x y, right top: x y, center bottom: x y) */
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.article-source {
    grid-area: hero-source;
    writing-mode: vertical-rl;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 25px;
}

.article-source span {
    font-weight: 300;
}